.form-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-gradient); /* Usando seu gradiente */
    align-items: center;
    justify-content: center;
    padding: var(--spacing-large);
}

form {
    background-color: white;
    padding: 50px;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 40%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--spacing-medium);
}

label {
    text-align: left;
    display: block;
    font-family: var(--font-primary);
    font-weight: 600;
}

input, select, textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--card-border-color1);
    border-radius: 8px;
    font-family: var(--font-secondary);
    background-color: white;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: var(--primary-color);
}

/* Botão principal */
button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s;
}

button[type="submit"]:hover {
    opacity: 0.9;
}

/* ===== Responsividade ===== */

@media (max-width: 1024px) {
    .form-content form {
        max-width: 60%;
    }
}

@media (max-width: 640px) {
    .form-content {
        padding: var(--spacing-medium);
    }

    .form-content form {
        max-width: 100%;
        padding: var(--spacing-large) var(--spacing-medium);
    }
}
