header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-small);
}

header span {
    display: flex;
    gap: var(--spacing-medium);
    align-items: center;
}

header span a:hover {
    color: var(--primary-color);
    transition: color 0.3s;
}

header span a:focus {
    color: var(--primary-color);
    outline: none;
}

header img {
    width: 50px;
}

.button-link {
    background-color: var(--primary-color);
    border-radius: 100px;
    color: var(--background-color);
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    cursor: pointer;
}

.button-link:hover {
    background-color: var(--card-border-color2);
    color: var(--background-color);
}

.button-link:focus {
    background-color: var(--card-border-color2);
    color: var(--background-color);
}