header {
    padding: var(--spacing-small);
}

.header-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-small);
}

/* Container principal */
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--spacing-large);
}

.header-mobile {
    display: none !important;
}

header span {
    display: flex;
    gap: var(--spacing-medium);
    align-items: center;
}

header span a:hover {
    color: var(--primary-color);
    transition: color 0.3s;
}

header span a:focus {
    color: var(--primary-color);
    outline: none;
}

header img {
    width: 50px;
}

.button-link {
    background-color: var(--primary-color);
    border-radius: 100px;
    color: var(--background-color);
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    cursor: pointer;
}

.button-link:hover,
.button-link:focus {
    background-color: var(--card-border-color2);
    color: var(--background-color);
}

/* Tablets */
@media screen and (max-width: 1024px) {

    header div {
        gap: 1rem;
        flex-wrap: wrap;
    }
}

/* Celulares */
@media screen and (max-width: 768px) {

    .header-laptop {
        display: none !important;
    }

    .header-mobile {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly;
        width: 100%;
    }

    header div {
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}